/*body
{

    
        
}*/
body {
    
    background-image: url('Sprites/Environment/Grass.jpeg');
    background-position: fixed;
    background-size: 100% 100%;
    margin: 0;
    overflow: hidden;
}
canvas {
    display: block;
}
