body {
    background-image: url('Sprites/Environment/Grass.jpeg');
    background-position: fixed;
    background-size: cover;
    margin: 0;
    overflow: hidden;
}

canvas {
    display: flex;
}

#backlog, #statistics {
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.3);
    color: black;
    padding: 10px;
    box-shadow: 0 1px rgba(0,0,0,0.5);
}

#backlog {
    right: 320px; /* Position backlog 320px from the right */
    width: 200px;
}

#statistics {
    right: 0;
    width: 300px; /* Increased width */
}

#backlog h3, #statistics h3 {
    margin: 0;
    padding: 0 0 10px 0;
    text-align: left;
}

#backlog ul {
    list-style: none;
    padding: 0;
}

#backlog ul li {
    margin-bottom: 5px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 16px; /* Increased padding */
    text-align: left;
}
